<!DOCTYPE HTML>
<html>
<meta charset="utf-8"/>
<script src="./lib/vue.min.js"></script>
<style type="text/css">
html{font-size: 12px;}
.table-head{display: inline-block;margin:5px;background-color: rgba(0,0,0,0.5);color:#fff;padding:5px 10px;border-radius: 10px;cursor:pointer;}
.title{color:blue;font-size: 16px;margin-top:20px;display: inline-block;width: 20%;}
.table-line{line-height: 20px;font-size: 14px;margin:5px;width: 40%;}
.table-li{font-size: 12px;margin-left: 20px;list-style-type: none;}
</style>
<div id="app">
  	<input type="file" name="csvfile" />
	<input type="button"  @click="csv()" value="图表显示"/>
	<div>
		<div v-for="(item,index) in dest" class="table-head" @click="tableLine(item.Group,index)">
			{{item.Group}}<span style="color:orange;margin-left: 10px;"> {{item.data.length}}</span>
		</div>
	</div>
	<div style="display: flex;">
		<div  class="title">当前选择：{{name}}{{quAll.length}}</div>
		<div style="display: inline-block;margin-top:20px;width: 40%;">
			<div v-for="(item,index) in shiAll" class="table-line">
				<div>{{item.shi}}<span style="color:orange;margin-left: 10px;"> {{item.data.length}}</span>
				</div>
			</div>
		</div>
	<div style="display: inline-block;margin-top:20px;">
		<div  v-for="(item,index) in quAll">
			<div  class="table-li" v-for="item2 in item">
				{{item2.data[0].Group}} {{item2.data[0].shi}} {{item2.data[0].qu}}<span style="color:orange;margin-left: 10px;"> {{item2.data.length}}</span>
			</div>
		</div>
	</div>	
	</div>
	<!-- echats -->
	<div id="myChart" :style="{width: '100%', height: '600px'}"></div>
</div>
<script src="./lib/jquery.js"></script>
<script src="./lib/papaparse.js"></script>
<script src="./lib/jschardet.js"></script>
<script src="./lib/csv2arr.js"></script>
<script src="./lib/echarts.js"></script>
<script src="./lib/china.js"></script>
<script>
function randomData() {  
     return Math.round(Math.random()*100);  
} 
var mydata = [  
    {name: '北京',value: '100' },{name: '天津',value: randomData() },  
    {name: '上海',value: randomData() },{name: '重庆',value: randomData() },  
    {name: '河北',value: randomData() },{name: '河南',value: randomData() },  
    {name: '云南',value: randomData() },{name: '辽宁',value: randomData() },  
    {name: '黑龙江',value: randomData() },{name: '湖南',value: randomData() },  
    {name: '安徽',value: randomData() },{name: '山东',value: randomData() },  
    {name: '新疆',value: randomData() },{name: '江苏',value: randomData() },  
    {name: '浙江',value: randomData() },{name: '江西',value: randomData() },  
    {name: '湖北',value: randomData() },{name: '广西',value: randomData() },  
    {name: '甘肃',value: randomData() },{name: '山西',value: randomData() },  
    {name: '内蒙古',value: randomData() },{name: '陕西',value: randomData() },  
    {name: '吉林',value: randomData() },{name: '福建',value: randomData() },  
    {name: '贵州',value: randomData() },{name: '广东',value: randomData() },  
    {name: '青海',value: randomData() },{name: '西藏',value: randomData() },  
    {name: '四川',value: randomData() },{name: '宁夏',value: randomData() },  
    {name: '海南',value: randomData() },{name: '台湾',value: randomData() },  
    {name: '香港',value: randomData() },{name: '澳门',value: randomData() }  
];
console.log(mydata)
var app = new Vue({
  el: '#app',
  data: {
    dest: "",
    name:'',
    shiAll:'',
    quAll:[],
    mydata:'',
  },
  mounted(){
    
  },
  methods:{
  	line1(){
  		console.log("this.mydata == " +this.mydata)
  		var that = this;
  		// 基于准备好的dom，初始化echarts实例
        let myChart = echarts.init(document.getElementById('myChart'))
        // 绘制图表       
      	let option = {
      			backgroundColor: '#F0C674',  
                title: {  
                    text: '全国地图大数据', 
                    color:'#DE935E' ,
                    subtext: '',  
                    x:'center'  
                },  
                tooltip : {  
                    trigger: 'item',                  
                },  
                
                //左侧小导航图标
                visualMap: {  
                    show : true,  
                    x: 'left',  
                    y: 'center',  
                    splitList: [   
                        {start: 125, end:1000},{start: 100, end: 125},  
                        {start: 75, end: 100},{start: 50, end: 75},  
                        {start: 25, end: 50},{start: 0, end: 25},  
                    ],  
                    color: ['#AC3720',  '#2975E6','#EC998B', '#C9662D','#1C6F5E','#8ABEB7',]  
                },  
                
                //配置属性
                series: [{  
                    name: '数据',  
                    type: 'map',  
                    mapType: 'china',   
                    roam: true,  
                    label: {  
                        normal: {  
                            show: true  //省份名称  
                        },  
                        emphasis: {  
                            show: false  
                        }  
                    },  
                    data:that.mydata  //数据
                }]  
        };
        myChart.setOption(option);

    
  	},
  	csv(){
  		var that = this;
		$("input[name=csvfile]").csv2arr(function(arr){
			var data = [];
		    for (var i = 0; i < arr.length; i++) {
				//定义一个二维数组
				data[i] = {};
				data[i]['Group'] = arr[i][0];
				data[i]['shi'] = arr[i][1];
				data[i]['qu'] = arr[i][2];
		    }
		    //打印数组
			var map = {},
			    dest = [];
			for(var i = 0; i < data.length; i++){
			    var ai = data[i];
			    if(!map[ai.Group]){
			        dest.push({
			            Group: ai.Group,
			            data: [ai]
			        });
			        map[ai.Group] = ai;
			    }else{
			        for(var j = 0; j < dest.length; j++){
			            var dj = dest[j];
			            if(dj.Group == ai.Group){
			                dj.data.push(ai);
			                break;
			            }
			        }
			    }
			}
			that.dest=dest;
			// echats data reset
			that.echatsData(dest)
		});
		
	},
	// echats data reset 
	echatsData(Data){
		console.log(Data)
		/*图表数据*/
		var EchatsFormData = [];
		for (var i = 0; i < Data.length; i++) {
			var ai = Data[i];
			EchatsFormData.push({
	            name:  ai.Group.replace("省",""),
	            value: ai.data.length
	        });
		}
		console.log(EchatsFormData)
		this.mydata = EchatsFormData;
		this.line1();
	},
	tableLine(name,index){
		this.quAll = []
		console.log(this.dest[index].data)
		var data = this.dest[index].data
		this.name = name
		var map = {},
		    dest = [];
		for(var i = 0; i < data.length; i++){
		    var ai = data[i];
		    if(!map[ai.shi]){
		        dest.push({
		            shi: ai.shi,
		            data: [ai]
		        });
		        map[ai.shi] = ai;
		    }else{
		        for(var j = 0; j < dest.length; j++){
		            var dj = dest[j];
		            if(dj.shi == ai.shi){
		                dj.data.push(ai);
		                break;
		            }
		        }
		    }
		}
		console.log(dest);
		this.shiAll=dest;
		for (var m = 0; m < this.shiAll.length; m++) {
			this.quCheck(m)
		}
	},
	quCheck(index){
		var data = this.shiAll[index].data
		var map = {},
		    dest = [];
		for(var i = 0; i < data.length; i++){
		    var ai = data[i];
		    if(!map[ai.qu]){
		        dest.push({
		            qu: ai.qu,
		            data: [ai]
		        });
		        map[ai.qu] = ai;
		    }else{
		        for(var j = 0; j < dest.length; j++){
		            var dj = dest[j];
		            if(dj.qu == ai.qu){
		                dj.data.push(ai);
		                break;
		            }
		        }
		    }
		}
		this.quAll.push(dest)
		console.log(this.quAll)
	}
} 
})
</script>
</html>
