
<!DOCTYPE HTML>
<html>
<meta charset="utf-8"/>
<script src="vue.min.js"></script>
<style type="text/css">
html{font-size: 12px;}
.table-head{display: inline-block;margin:5px;background-color: rgba(0,0,0,0.5);color:#fff;padding:5px 10px;border-radius: 10px;cursor:pointer;}
.title{color:blue;font-size: 16px;margin-top:20px;display: inline-block;width: 20%;}
.table-line{line-height: 20px;font-size: 14px;margin:5px;width: 40%;}
.table-li{font-size: 12px;margin-left: 20px;list-style-type: none;}
</style>
<div id="app">
  	<input type="file" name="csvfile" />
	<input type="button"  @click="csv()" value="图表显示"/>
	<div>
		<div v-for="(item,index) in dest" class="table-head" @click="tableLine(item.Group,index)">
			{{item.Group}}<span style="color:orange;margin-left: 10px;"> {{item.data.length}}</span>
		</div>
	</div>
	<div style="display: flex;">
		<div  class="title">当前选择：{{name}}{{quAll.length}}</div>
		<div style="display: inline-block;margin-top:20px;width: 40%;">
			<div v-for="(item,index) in shiAll" class="table-line">
				<div>{{item.shi}}<span style="color:orange;margin-left: 10px;"> {{item.data.length}}</span>
				</div>
			</div>
		</div>
	<div style="display: inline-block;margin-top:20px;">
		<div  v-for="(item,index) in quAll">
			<div  class="table-li" v-for="item2 in item">
				{{item2.data[0].Group}} {{item2.data[0].shi}} {{item2.data[0].qu}}<span style="color:orange;margin-left: 10px;"> {{item2.data.length}}</span>
			</div>
		</div>
	</div>	
	</div>
</div>
<script src="./lib/jquery.js"></script>
<script src="./lib/papaparse.js"></script>
<script src="./lib/jschardet.js"></script>
<script src="csv2arr.js"></script>
<script>
var app = new Vue({
  el: '#app',
  data: {
    dest: "",
    name:'',
    shiAll:'',
    quAll:[],
  },
  methods:{
  	csv(){
  		var that = this;
		$("input[name=csvfile]").csv2arr(function(arr){
			var data = [];
		    for (var i = 0; i < arr.length; i++) {
				//定义一个二维数组
				data[i] = {};
				data[i]['Group'] = arr[i][0];
				data[i]['shi'] = arr[i][1];
				data[i]['qu'] = arr[i][2];
		    }
		    //打印数组
			console.log(data);
			var map = {},
			    dest = [];
			for(var i = 0; i < data.length; i++){
			    var ai = data[i];
			    if(!map[ai.Group]){
			        dest.push({
			            Group: ai.Group,
			            data: [ai]
			        });
			        map[ai.Group] = ai;
			    }else{
			        for(var j = 0; j < dest.length; j++){
			            var dj = dest[j];
			            if(dj.Group == ai.Group){
			                dj.data.push(ai);
			                break;
			            }
			        }
			    }
			}
			console.log(dest);
			that.dest=dest;
		});
	},
	tableLine(name,index){
		this.quAll = []
		console.log(this.dest[index].data)
		var data = this.dest[index].data
		this.name = name
		var map = {},
		    dest = [];
		for(var i = 0; i < data.length; i++){
		    var ai = data[i];
		    if(!map[ai.shi]){
		        dest.push({
		            shi: ai.shi,
		            data: [ai]
		        });
		        map[ai.shi] = ai;
		    }else{
		        for(var j = 0; j < dest.length; j++){
		            var dj = dest[j];
		            if(dj.shi == ai.shi){
		                dj.data.push(ai);
		                break;
		            }
		        }
		    }
		}
		console.log(dest);
		this.shiAll=dest;
		for (var m = 0; m < this.shiAll.length; m++) {
			this.quCheck(m)
		}
	},
	quCheck(index){
		var data = this.shiAll[index].data
		var map = {},
		    dest = [];
		for(var i = 0; i < data.length; i++){
		    var ai = data[i];
		    if(!map[ai.qu]){
		        dest.push({
		            qu: ai.qu,
		            data: [ai]
		        });
		        map[ai.qu] = ai;
		    }else{
		        for(var j = 0; j < dest.length; j++){
		            var dj = dest[j];
		            if(dj.qu == ai.qu){
		                dj.data.push(ai);
		                break;
		            }
		        }
		    }
		}
		this.quAll.push(dest)
		console.log(this.quAll)
	}
} 
})
</script>
</html>
